<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy HprCamp 2021 developed with &#x2764; by <strong> Manish Kumar</strong> </span>
    </div>
</footer>